[Unit]
Description=Pinggy Tunnel Startup

[Service]
ExecStart=/home/pi/gate-pi/source/start.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

